.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.memo-editor-modal-background {
  background-color: rgba(76, 76, 76, 0.7);
  z-index: 1200;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.memo-editor-modal {
  background-color: bisque;
  width: 600px;
  margin: auto;

  position: fixed;
  right: 20vw;
  top: 10vh;
}

.memo-editor-exit-btn {
  float: right;
}

.memo-editor-create-btn {
  float: right;
}

.ql-editor {
  height: 300px !important;
}

.memo-editor-title-box {
  display: flex;
}

.memo-editor-options-wrap {
  display: flex;
  justify-content: space-around;
}

.memo-editor-options-color {
  display: flex;
}

.memo-editor-options-priority {
  display: flex;
}

.select-tag-modal-background {
  background-color: rgba(76, 76, 76, 0.7);
  z-index: 1200;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.select-tag-modal {
  background-color: white;
  width: 200px;
  min-height: 250px;
  position: absolute;
  bottom: 100px;
  left: 200px;
}

.select-tag-modal-title {
  text-align: center;
  font-weight: bold;
}

.edit-note-modal-background {
  background-color: rgba(76, 76, 76, 0.7);
  z-index: 1200;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.edit-note-modal {
  background-color: skyblue;
  width: 300px;
  height: 400px;
  margin: auto;

  position: fixed;
  top: 150px;
  left: 300px;
}

.edit-note-modal-exit-btn {
  float: right;
}

.edit-note-modal-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.edit-note-modal-lists {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.edit-note-modal-newtag-btn {
  position: absolute;
  bottom: 5px;
  right: 100px;
}

.edit-note-modal-fin-btn {
  width: 50px;
  margin: auto;
  display: block;
}
