.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.memo-editor {
  background-color: bisque;
  z-index: 1200;
  width: 600px;
  margin: auto;

  position: fixed;
  right: 20vw;
  top: 10vh;
}

.memo-editor-exit-btn {
  float: right;
}

.memo-editor-create-btn {
  float: right;
}
